<div class="cherry-banner_wrap" style="background-image: url(%%IMAGE%%); background-color:%%BGCOLOR%%; color:%%COLOR%%">
%%TITLE%%
%%CONTENT%%
<div class="banner-btn"><a href="%%URL%%" class="cherry-banner_link"><?php _e( 'more', 'cherry-shortcodes' ); ?></a></div>
</div>
